@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.light-mode {
  background-color: #ffffff;
}

.dark-mode {
  background-color: #000000;
}   

.light-mode .parallax, .light-mode .parallax__cover{
  background-color: #ffffff;
}

.dark-mode .parallax, .dark-mode .parallax__cover{
  background-color: #000000;
} 

.light-mode *{
  color: rgb(0, 0, 0);
}

.dark-mode *{
  color: white;
}   

header {
  color: inherit;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 20px 5% 3% 5%;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.logo {
  color: inherit;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
}

.navbar a {
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  margin: 2% auto;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: .3s;
}

.light-mode .navbar a:hover {
  background: #ffffff;
  color: #a9a9a9;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255));
}

.dark-mode .navbar a:hover {
  background: #000000;
  color: #a9a9a9;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0));
}
.parallax {
  perspective: 100px;
  width: 100%;
  max-height: 50rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.parallax__content {
  transform: translateZ(-350px) scale(4.5);
  min-width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  top: 10%;
  text-align: center;
}

.parallax__content h1 {
  font-size: 10rem;
  background-image: url(public/bg.png);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  z-index: 1000;
  display: inline-block;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}

.parallax__cover {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: inherit;
  left: 0;
  right: 0;
  z-index: 2;
}

.cover__content {
  position: relative;
  top: 0;
  width: 90vw;
  text-align: center;
}

h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}

p {
  font-size: 1rem;
  margin: 0 auto;
  margin-bottom: 20px;
}

.light-mode #About a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 2% auto;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 50px;

}

.light-mode #About a:hover {
  background: #ffffff;
  color: #a9a9a9;
  box-shadow: 0 0 5px #000000,
      0 0 25px #000000,
      0 0 50px #000000,
      0 0 200px #000000;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255, 255, 255));
}

.light-mode #About a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #000000);
  animation: animate1 1s linear infinite;
}
.light-mode #About a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000000);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

.light-mode #About a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #000000);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

.light-mode #About a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #000000);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

.dark-mode #About a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 2% auto;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: pointer;
  overflow: hidden;
  margin-right: 50px;

}

.dark-mode #About a:hover {
  background: #000000;
  color: #a9a9a9;
  box-shadow: 0 0 5px #000000,
      0 0 25px #03e9f4,
      0 0 50px #03e9f4,
      0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#About a span {
  position: absolute;
  display: block;
}

.dark-mode #About a span:nth-child(1) {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
      left: -100%;
  }

  50%,
  100% {
      left: 100%;
  }
}

.dark-mode #About a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
      top: -100%;
  }

  50%,
  100% {
      top: 100%;
  }
}

.dark-mode #About a span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}

@keyframes animate3 {
  0% {
      right: -100%;
  }

  50%,
  100% {
      right: 100%;
  }
}

.dark-mode #About a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
      bottom: -100%;
  }

  50%,
  100% {
      bottom: 100%;
  }
}